<div
    class="bg-card flex min-w-0 flex-auto flex-col dark:bg-transparent sm:absolute sm:inset-0 sm:overflow-hidden"
>
    <!-- Header -->
    <div
        class="relative flex flex-0 flex-col border-b px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
    >
        <!-- Title -->
        <div class="text-4xl font-extrabold tracking-tight">Productos</div>
        <!-- Actions -->
        <div class="mt-6 flex shrink-0 items-center sm:ml-4 sm:mt-0">
            <!-- Search -->
            <mat-form-field
                class="fuse-mat-dense fuse-mat-rounded min-w-64"
                [subscriptSizing]="'dynamic'"
            >
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:magnifying-glass'"
                ></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar productos'"
                />
            </mat-form-field>
            <!-- Add product button -->
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="createProduct()"
            >
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 hidden sm:inline-block mr-1">Agregar producto</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">
        <!-- Products list -->
        <div
            class="flex flex-auto flex-col overflow-hidden sm:mb-18 sm:overflow-y-auto"
        >
            <div class="grid">
                <!-- Header -->
                <div
                    class="inventory-grid text-secondary sticky top-0 z-10 grid gap-4 bg-gray-50 px-6 py-4 text-md font-semibold shadow dark:bg-black dark:bg-opacity-5 md:px-8"
                    matSort
                    matSortDisableClear
                >
                    <div
                    >
                        Imagen
                    </div>
                    <div
                        [mat-sort-header]="'name'"
                    >
                        Nombre
                    </div>
                    <div
                        class="hidden sm:block"
                        [mat-sort-header]="'price'"
                    >
                        Precio
                    </div>
                    <div
                        class="hidden md:block"
                        [mat-sort-header]="'desc'"
                    >
                        Descripción
                    </div>
                </div>
                <!-- Rows -->
                <div
                    class="inventory-grid grid items-center gap-4 border-b px-6 py-3 md:px-8"
                >
                <!-- Image -->
                <div class="flex items-center">
                    <div
                        class="relative mr-6 flex h-12 w-12 flex-0 items-center justify-center overflow-hidden rounded border"
                    >
                        <div
                            class="flex h-full w-full items-center justify-center text-center text-xs font-semibold uppercase leading-none"
                        >
                            NO IMG
                        </div>
                    </div>
                </div>
                <!-- Name -->
                <div class="truncate">
                    Nombre
                </div>
                <!-- Price -->
                <div class="truncate hidden sm:block">
                    Precio
                </div>
                <!-- Description -->
                <div class="hidden md:block">
                    Descripción
                </div>
            </div>
        </div>
    </div>
</div>
